

.profileInfoCard {
    max-width: 400px;
    color: black;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

.profile h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-field input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.save-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #45a049;
}